<!DOCTYPE html>
    html    
        head
            title   Este es mi titulo
        body
            section
                h1  Hola Gente
                h2  Esto es un subtitulo
            div 
                p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolorum fugit sapiente nobis laudantium iure itaque. At veritatis voluptate ex. Deserunt repellendus consequuntur nostrum eius quas excepturi voluptatibus qui ratione?